@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 3, 3, 3;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f4f3ec;
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
